* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tasks {
  border-left: 2px black solid;
  min-height: 300px;
  padding: 5px 10px;
}

.containers {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  column-gap: 2em;
}

#task_form {
  display: none;
  padding: 10px;
}

#task_body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 5px;
}

.check_box {
  padding: 5px;
  margin-left: 10px;
}
